* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: darkgoldenrod;
  background-color: cornsilk;
  padding: 40px 0;
}

.title {
  font-size: 48px;
  margin-bottom: 36px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  justify-content: center;
}

.list-item {
  width: 300px;
  background-color: white;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 5px 10px 11.4px 0px rgba(0, 0, 0, 0.13);
}

.list-wrapper {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.list-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list-subtitle {
  font-size: 24px;
  padding: 24px;
}
